.component-display {
  background-color: #ffc5fa;
  border-radius: 25px;
  color: white;
  text-align: right;
  font-weight: 200;
  flex: 0 0 auto;
  width: 100%;
}

.component-display > div {
  font-size: 2.5rem;
  padding: 0.2rem 0.7rem 0.1rem 0.5rem;
}
/* Start http://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/anime/ani-12/ani1132.ani),
    url(http://cur.cursors-4u.net/anime/ani-12/ani1132.png), auto !important;
} /* End http://www.cursors-4u.com */
